@import "../../Utilities.scss";

.imgContainer {
  width: clamp (100px, 100%, 500px);
}
.appImg {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 10px 5px 5px rgb(198, 198, 198);
}
