.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.appImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 90%;
  height: 90%;
}

.titleMovie {
  color: #7474D6;
  text-align: center;
  font-size: 2.2rem;
  font-family: "Sniglet";
  font-size: 2rem;
}

@media screen and (min-width: 1200px) {
  .appImg {
    width: 40vw;
    margin-bottom: 4vh;
  }
  .titleMovie {
    margin-bottom: 3vh;
  }
  .imgContainer {
    gap: 0rem;
  }
}
