@import "../../Utilities.scss";

.imgContainer {
  @include flexCenter;
  flex-direction: column;
  gap: 1rem;
}

.appImg {
  @include flexCenter;
    background-size: cover;
    width: 90%;
    height: 90%;
  }

.titleMovie {
  @include font;
  font-size: 2rem;
  }

@media screen and (min-width: 1200px) {
  .appImg {
    width: 40vw;
    margin-bottom: 4vh;
  }

  .titleMovie {
    margin-bottom: 3vh;
  }

  .imgContainer {
    gap: 0rem;
  }
}