.BTNext {
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  box-shadow: #7474d6 0px 3px 8px;
  background-color: #7474d6;
  color: rgb(255, 252, 252);
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  font-family: "Sniglet";
}
