.container {
  width: 36.5%;
  height: 3%;
  position: absolute;
}
.progressBar {
  width: 66.4vw;
  height: 100%;
  display: flex;
}
.fillBar {
  width: 100%;
  height: 100%;
  transition: width 0.5s ease-out;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.seconde {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 50%;
  position: sticky;
}
@media screen and (min-width: 1200px) {
  .progressBar {
    width: 49.1vw;
    height: 100%;
    display: flex;
  }
}
