.container{

   width: 36.5%;
   height: 3%;
   position: absolute;
}
.progressBar{
    width: 100%;
    height: 100%;
    
}
.fillBar{
    width: 100%;
    height: 100%;
    transition: width 0.5s ease-out;
    background-color: green;
}