.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chrono {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
}
.fillBar {
  width: 100%;
  height: 2rem;
  z-index: 1;
}
