.container {
  width: 60%;
  height: 3%;
  position: absolute;
}
.progressBar {
  width: 66.4vw;
  height: 100%;
  display: flex;
}
.fillBar {
  width: 100%;
  height: 100%;
  transition: width 0.5s ease-out;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.chrono {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}
@media screen and (min-width: 1200px) {
  .progressBar {
    width: 49.1vw;
    height: 100%;
    display: flex;
    z-index: 1;
  }
  .chrono {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 77%;
    position: absolute;
  }
}
