@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");
@import "./Utilities.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sniglet";
  color: #202c55;
}

.appAllContainer {
  @include flexCenter;
  width: 100vw;
  height: 100vh;
}

.appAll {
  @include flexCenter;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  gap: 2rem;
}

.appHeader {
  width: 80vw;
}

.appBody {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.retry {
  @include font;
}

@media screen and (max-width: 480px) {
  body {
    @include backgroundStyle;
    background-image: url("./src/assets/bouboulesMobile.png");
  }
}

@media screen and (min-width: 480px) {
  body {
    @include backgroundStyle;
    background-image: url("./src/assets/bouboulesDesktop.png");
  }

  .appAll {
    width: 50vw;
    height: auto;
  }

  .appHeader {
    width: 50vw;
  }

  .appBody {
    width: 50vw;
    height: auto;
    margin-bottom: 5vh;
  }

  .retry {
    font-size: 2.5rem;
  }
}
