* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .appBody {
    background-image: url("./src/assets/bouboulesMobile.png");
    width: 100vw;
    height: 100vh;
    padding-top: 25%;
    background-size: cover;
    background-position: center center;
  }
}

@media (min-width: 481px) {
  .appBody {
    background-image: url("./src/assets/bouboulesDesktop.png");
    width: 100vw;
    height: 100vh;
    padding-top: 25%;
    background-size: cover;
    background-position: center center;
  }
}
