@import "./Utilities.scss";

@font-face {
  font-family: "Sniglet";
  src:
    local("Sniglet"),
    url("./fonts/Sniglet/Sniglet-Regular.ttf") format("truetype");
}

.avatar {
  height: 8rem;
}
.appBody {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  width: 100%;
}
.appAllContainer {
  display: flex;
  justify-content: center;
}
.appAll {
  width: 50%;
}
.retry {
  @include font;
  margin: 1%;
}
body {
  @include backgroundStyle;
  background-image: url("./src/assets/bouboulesDesktop.png");
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  body {
    @include backgroundStyle;
    background-image: url("./src/assets/bouboulesMobile.png");
  }
  .appAllContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .appAll {
    width: 80%;
  }
  .avatar {
    height: 5rem;
  }
  .appBody {
    margin: 0;
    align-items: center;
  }
}
