@import "../../Utilities.scss";

.header {
  text-align: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.theUser,
.theScore {
  font-family: "Sniglet";
  font-size: $fontSizeMain;
  color: #202c55;
  margin-left: 1rem;
  margin-right: 1rem;
}

.userAndScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
}

.logoText {
  margin: 1rem;
  font-size: 4rem;
}

@media screen and (min-width: 480px) {
  .theUser,
  .theScore {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2.8rem;
  }

  .header {
    padding: 0;
    margin-bottom: 2vh;
  }
}