.synopsisText {
  color: #202c55;
  font-size: 1.5rem;
  font-family: "Sniglet";
  height: 40vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  display: flex;
  align-items: center;
}
